

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 50px;
}

nav.navbar {
	z-index: 100;
	width: 100%;

}






